@model IEnumerable<MvcApplication1.Models.Producto>
<!--HALLO PRESINDENTE SOY EL INDICE DE LA PAG PRINCIPAL-->

@{
    ViewBag.Title = "Home Page";
}

<h1>Productos Agotados</h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-inline">
    <input type="text" name="prod" class="form-control"/>
    <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-search"></span> Buscar por nombre
    </button>
    @Html.ActionLink(" ", "Index", "Home", FormMethod.Get, new { @class = "btn btn-default btn-sm glyphicon glyphicon-refresh" })
</div>
}

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <tr class="bg-success">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destacado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreSupercategoria)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Imagen)" alt="Imagen del producto no disponible" height="100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destacado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oferta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreSupercategoria)
                </td>
                <td>
                    @Html.ActionLink("EDITAR", "Edit", new { id = item.id }) |
                    @Html.ActionLink("DETALLES", "Details", new { id = item.id }) |
                    @Html.ActionLink("BORRAR", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>