@model SuperPet.Models.Usuario

@{
    ViewBag.Title = "Desactivar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Desactivar/Activar</h2>

<h3>¿Seguro que quieres desactivar/activar a este usuario?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>

    <div class="row">
        
            @using (Html.BeginForm())
            {
                if (Model.Activo == false)
                {
                    <div class="form-actions no-color col-md-1">
                        <input type="submit" value="Activar" class="btn btn-success col-md-12" />
                    </div>
                }
                else
                {
                    <div class="form-actions no-color col-md-2">
                        <input type="submit" value="Desactivar" class="btn btn-success btn-block col-md-2" />
                    </div>
                }
            }

            <button onclick="location.href='@Url.Action("Index")'" type="button" class="btn btn-success">Volver</button>
        
    </div>

</div>
