@model Tuple<MvcApplication1.Models.Producto, System.Collections.Generic.IEnumerable<SuperPet.Models.Comentario>>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<!-- Producto para la vista del usuario desde el home -->

<div>


    <div class="well">
        <div class="colotitulo">
            @Html.DisplayFor(model => model.Item1.Nombre)
        </div>
    </div>


    <!--SEPARACION: CATEGORIA Y SUPERCATEGORIA-->

    <div class="row ">

        <div class="col-md-2">
            @Html.DisplayFor(model => model.Item1.NombreSupercategoria)
            >
            @Html.DisplayFor(model => model.Item1.NombreCategoria)

        </div>



    </div>
    <hr />

    <p></p>

    <div class="row center-block">
        <div class="col-md-6">

            <div>
                <img class="img-prods img-responsive" src="@Html.DisplayFor(model => model.Item1.Imagen)">
            </div>

        </div>
        <br />
        <div class="col-md-4">

            <div class="well3">

                @{

                    if (Model.Item1.Destacado)
                    {
                        <div class="color-specs-prod">
                            PRODUCTO DESTACADO!!!!!!!
                        </div>
                    }
                }


                <div class="color-specs-prod ">
                    Descripción del producto
                </div>


                @Html.DisplayFor(model => model.Item1.Descripcion)



                <p></p>

                @{
                    if (Model.Item1.Oferta == 0)
                    {

                        <div class="color-specs-prod">
                            @Html.DisplayNameFor(model => model.Item1.Precio)
                        </div>

                        <div class=" precio">
                            @Html.DisplayFor(model => model.Item1.Precio)
                        </div>

                    }
                    if (Model.Item1.Oferta > 0)
                    {

                        <div class="color-specs-prod">
                            @Html.DisplayNameFor(model => model.Item1.Precio)

                        </div>

                        <div>
                            ¡OFERTA LIMITADA!
                        </div>

                        double precioOferta = (Model.Item1.Precio - (Model.Item1.Precio * Model.Item1.Oferta));
                        Console.WriteLine(precioOferta);
                        String precioFinal = Convert.ToString(precioOferta);
                        <div class="row">
                            <div class=" precio tachar col-md-4">
                                @Html.DisplayFor(model => model.Item1.Precio)

                            </div>
                            <div class="precio-oferta col-md-4">
                                @Html.DisplayName(precioFinal) €
                            </div>
                        </div>
                    }
                }
                <p></p>

                @{
                    if (Model.Item1.Stock > 10) //HAY STOCK
                    {
                        <div>
                            Quedan @Html.DisplayFor(model => model.Item1.Stock) uds
                        </div>
                    }

                    if (Model.Item1.Stock > 1 && Model.Item1.Stock <= 10) //POCO STOCK
                    {
                        <div class="poco-stock">
                            ¡ULTIMAS UNIDADES DEL PRODUCTO!
                        </div>
                        <div>
                            Quedan @Html.DisplayFor(model => model.Item1.Stock) uds
                        </div>
                    }

                    if (Model.Item1.Stock == 1) //EXCEPCION
                    {
                        <div class=" color-specs-prod">
                            Queda SOLO 1 UNIDAD!!!
                        </div>
                    }

                    if (Model.Item1.Stock == 0) //NO QUEDA NADA DE STOCK
                    {
                        <div class="color-specs-prod">
                            NO QUEDAN UNIDADES
                        </div>
                    }


                }

                <br />


            </div>

            <div class="row col-md-12">
                <button type="button" class="btn btn-success">Añadir a favoritos</button>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Comprar
                </button>
            </div>

            <br />
            <div>
                <br />
                <div class="color-specs-prod">
                    VALORAR (IMPLEMENTAR VALORACIONES)
                </div>
            </div>

        </div>

    </div>

    <br />

    <div class="wellcoments">
        <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="colo-coments">
            COMENTARIOS
        </div>
    </div>

    @foreach (var item in Model.Item2)
    {
        <div>
            <div class="row">
                <div class="usuario-comentario col-sm-1">@Html.DisplayFor(modelItem => item.NombreUsuario)</div>
                <div class="fecha-comentario col-sm-2">@Html.DisplayFor(modelItem => item.Fecha)</div>
            </div>

            <div>
                @Html.DisplayFor(modelItem => item.TextoComentario)
            </div>
            <div class="color-specs-prod">
                !PONER LA PAGINACION GENTE¡
            </div>
        </div>
        <hr />

    }



</div>

<br />


