@model MvcApplication1.Models.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Producto para la vista del usuario desde el home -->

<div>


    <div class="well">
        <div class="colotitulo">
            @Html.DisplayFor(model => model.Nombre)
        </div>
    </div>


    <!--SEPARACION: CATEGORIA Y SUPERCATEGORIA-->

    <div class="row ">

        <div class="col-md-2">
            @Html.DisplayFor(model => model.NombreSupercategoria)
            >
            @Html.DisplayFor(model => model.NombreCategoria)

        </div>



    </div>
    <hr />

    <p></p>

    <div class="row center-block">
        <div class="col-md-6">

            <div>
                <img class="img-prods img-responsive" src="@Html.DisplayFor(model => model.Imagen)">
            </div>

        </div>
        <br />
        <div class="col-md-4">

            <div class="well3">

                @{

                    if (Model.Destacado)
                    {
                        <div class="color-specs-prod">
                            PRODUCTO DESTACADO!!!!!!!
                        </div>
                    }
                }


                <div class="color-specs-prod ">
                    Descripción del producto
                </div>


                @Html.DisplayFor(model => model.Descripcion)



                <p></p>

                @{
                    if (Model.Oferta == 0)
                    {

                        <div class="color-specs-prod">
                            @Html.DisplayNameFor(model => model.Precio)
                        </div>

                        <div class=" precio">
                            @Html.DisplayFor(model => model.Precio)
                        </div>

                    }
                    if (Model.Oferta > 0)
                    {

                        <div class="color-specs-prod">
                            @Html.DisplayNameFor(model => model.Precio)

                        </div>

                        <div>
                            ¡OFERTA LIMITADA!
                        </div>

                        double precioOferta = (Model.Precio - (Model.Precio * Model.Oferta));
                        Console.WriteLine(precioOferta);
                        String precioFinal = Convert.ToString(precioOferta);
                        <div class="row">
                            <div class=" precio tachar col-md-4">
                                @Html.DisplayFor(model => model.Precio)

                            </div>
                            <div class="precio-oferta col-md-4">
                                @Html.DisplayName(precioFinal) €
                            </div>
                        </div>
                    }
                }
                <p></p>

                @{
                    if (Model.Stock > 10) //HAY STOCK
                    {
                        <div>
                            Quedan @Html.DisplayFor(model => model.Stock) uds
                        </div>
                    }

                    if (Model.Stock > 1 && Model.Stock <= 10) //POCO STOCK
                    {
                        <div class="poco-stock">
                            ¡ULTIMAS UNIDADES DEL PRODUCTO!
                        </div>
                        <div>
                            Quedan @Html.DisplayFor(model => model.Stock) uds
                        </div>
                    }

                    if (Model.Stock == 1) //EXCEPCION
                    {
                        <div class=" color-specs-prod">
                            Queda SOLO 1 UNIDAD!!!
                        </div>
                    }

                    if (Model.Stock == 0) //NO QUEDA NADA DE STOCK
                    {
                        <div class="color-specs-prod">
                            NO QUEDAN UNIDADES
                        </div>
                    }


                }

                <br />


            </div>

            <div class="row col-md-12">
                <button type="button" class="btn btn-success">Añadir a favoritos</button>
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Comprar
                </button>
            </div>

            <br />
            <div>
                <br />
                <div class="color-specs-prod">
                    VALORAR (IMPLEMENTAR VALORACIONES)
                </div>
            </div>

        </div>

    </div>

    <br />

    <div class="wellcoments">
        <div class="colo-coments">
            COMENTARIOS 
        </div>
    </div>


</div>
 
<br />


