@model SuperPet.Models.Administrador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrador: @Html.DisplayFor(model => model.NombreUsuario)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logged)
        </dd>

    </dl>
</div>
<p>
    <button onclick="location.href='@Url.Action("Edit",new { id = Model.Id })'" type="button" class="btn btn-success">Editar</button>
    <button onclick="location.href='@Url.Action("Index")'" type="button" class="btn btn-success">Volver</button>
</p>
