@using SuperPet.Models
@model SuperPet.Models.Slider

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar slider</h2>


@using (Html.BeginForm("Edit", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Imagen1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" accept="image/*" name="file1" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Imagen2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" accept="image/*" name="file2" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Imagen3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" accept="image/*" name="file3" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Imagen4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" accept="image/*" name="file4" />
            </div>
        </div>
   
<div class="col-md-offset-2 col-md-10">
    <input type="submit" value="Guardar Cambios" />
</div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
