@model SuperPet.Models.Categoria

@{
    ViewBag.Title = "CreateSup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear SuperCategoria</h2>
<hr />

@using (Html.BeginForm("CreateSup", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">


        @Html.ValidationSummary(true, "Categoria", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.NombreCat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.NombreCat, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                    @Html.ValidationMessageFor(model => model.NombreCat, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.NombreSupcat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.NombreSupcat, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                    @Html.ValidationMessageFor(model => model.NombreSupcat, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="form-group col-md-12">
                <div>
                    <input type="submit" value="Añadir" class="btn btn-success" />
                    <button onclick="location.href='@Url.Action("Index")'" type="button" class="btn btn-success">Volver</button>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

