@model SuperPet.Models.Categoria
<!--DETALLES DE LA CATEGORIA-->
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la categoria seleccionada</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreSupcat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSupcat)
        </dd>

    </dl>
</div>
<p>
    <button onclick="location.href='@Url.Action("Edit",new { id = Model.id })'" type="button" class="btn btn-success">Editar</button>
    <button onclick="location.href='@Url.Action("Index")'" type="button" class="btn btn-success">Volver</button>
</p>
