
@model IEnumerable<SuperPet.Models.Categoria>
<!--INDICE DE CATEGORIA-->
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categoria</h1>

@using (Html.BeginForm("Index", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="form-inline">
        <input type="text" name="supcateg" class="form-control" />
        <button type="submit" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-search"></span> Buscar por Supercategoría
        </button>

        @Html.ActionLink(" ", "Index", "Categoria", FormMethod.Get, new { @class = "btn btn-default btn-sm glyphicon glyphicon-refresh" })
    </div>
    
</div>
    }


<hr />

<button onclick="location.href='@Url.Action("CreateSup")'" type="button" class="btn btn-success  btn-block">Crear Categoría</button>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <tr class="bg-success">
            <th>
                @Html.DisplayNameFor(model => model.NombreCat)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NombreSupcat)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCat)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NombreSupcat)
                </td>

                <td>
                    @Html.ActionLink("EDITAR", "Edit", new { id = item.id }) |
                    @Html.ActionLink("DETALLES", "Details", new { id = item.id }) |
                    @Html.ActionLink("BORRAR", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>