
@model IEnumerable<SuperPet.Models.Categoria>
<!--INDICE DE CATEGORIA-->
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categoria</h2>



<button onclick="location.href='@Url.Action("Create")'" type="button" class="btn btn-success  btn-block">Crear Categoria</button>
<!--
<p>
    @Html.ActionLink("Crear Categoria", "Create")
</p>

<p>
    @Html.ActionLink("Crear Supercategoria", "CreateSup")
</p>   -->


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCat)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.NombreSupcat)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.NombreSupcat)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>