<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SuperPet</title>
    @Styles.Render("~/Content/css")
    <!-- css para modificar el estilo por defecto -->
    <link href="~/Content/barraNavegacion.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-light navegacion" id="barra_navegacion">
        <!-- navbar navbar-inverse navbar-fixed-top

        Barra con logo, nombre web, nombre usuario, logout, (idioma)

            container blanco sinmargen textonegro maxwidth
            -->
        <div class="container">
            <div class="container" id="logo">
                <a href='@Url.Action("Index","Home")'>
                    <img src="~/images/LOGO/LOGO.png" width="100px" alt="Logotipo" />
                </a>
                    <span class="titulo">SuperPet</span>
                
                
            </div>
            <div class="idioma text-right">
                <span>CASTELLANO</span>
                <span> / </span>
                <span>INGLÉS</span>
                <br>
                <!-- esto añade la parte de login/logout -->
                @Html.Partial("_LoginPartial")
            </div>
            


        </div>
        <!-- Barra con productos, usuarios, slider, cambio password -->
        <div class="container bg_verde maxwidth">
            <!-- container verde sinmargen  -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            </div>
            <div class="navbar-collapse collapse maxwidth">
                <div class="col-md-1 col-sm-1"></div>
                <ul class="nav navbar-nav col-md-11 col-sm-11">
                    <li class="nav-item col-sm-1">@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li class="nav-item col-sm-1">@Html.ActionLink("PEDIDOS", "Index", "Pedido")</li>
                    <li class="nav-item col-sm-2">@Html.ActionLink("PRODUCTOS", "Index", "Producto")</li>
                    <li class="nav-item col-sm-2">@Html.ActionLink("USUARIOS", "Index", "Usuario")</li>
                    <li class="nav-item col-sm-2">@Html.ActionLink("ADMINISTRADORES", "Index", "Administrador")</li>
                    <li class="nav-item col-sm-1">@Html.ActionLink("SLIDER", "Index", "Slider")</li>
                    <li class="nav-item col-sm-2">@Html.ActionLink("CATEGORÍAS", "Index", "Categoria")</li>


                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SuperPet</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
